<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/error.css">
</head>
<body>
    <%- include('../partials/header') %>
    <main>
        <h2>Błąd</h2>
        <p><%= error %></p>
        <img src="/img/error-doge.jpg" alt="error doge">
    </main>
    <%- include('../partials/footer') %>
</body>
</html>